<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\Files\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
    <variable name="myvar" value="myvalue"/>
  -->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <extensions>
    <!--add assembly="NLog.Extensions.AzureEventHub" /-->
    <add assembly="NLog.Targets.Loggly"/>
  </extensions>

  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="console" xsi:type="Console" 
            layout="${longdate}|${level}|${event-properties:item=companyid}|${event-properties:item=siteid}|${event-properties:item=posipaddress}|${logger}|${message}"/>
    <target name="file" xsi:type="File" 
            fileName="C:\Files\NLog.log" 
            layout="${longdate}|${level}|${event-properties:item=companyid}|${event-properties:item=siteid}|${event-properties:item=posipaddress}|${logger}|${message}"/>
    <target name="Loggly" xsi:type="Loggly" 
            layout="${longdate}|${level}|${event-properties:item=companyid}|${event-properties:item=siteid}|${event-properties:item=posipaddress}|${logger}|${message}" 
            applicationName="MTISalesPush" 
            customerToken="21e4c45f-78da-4b68-a049-35c8a98d192d" 
            endpointHostname="logs-01.loggly.com" 
            endpointPort="443" 
            logTransport="https"/>
    <!--
    <target xsi:type="AzureEventHub"
              name="AzureEventHub"
              layout= "JsonLayout"
              eventHubName="mtienterpriselogs"
              partitionKey=""
              connectionString="Endpoint=sb://mtilogs.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Z2e/cZGlpAttr/4CNXkIZjOgiiQfeexTReIqiwl3H24=">
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}"/>
        <attribute name="companyid" layout="${event-properties:item=companyid}"/>
        <attribute name="siteid" layout="${event-properties:item=siteid}"/>
        <attribute name="posipaddress" layout="${event-properties:item=posipaddress}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    -->
  </targets>

  
  <rules>
    <!-- add your logging rules here -->
    <!--logger name="*" minlevel="Trace" writeTo="AzureEventHub,file,console" /-->
    <logger name="*" minlevel="Trace" writeTo="file,console,Loggly" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
